@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.ham {
  color: black;
}

#sidebar {
  display: none;
}

.open-sidebar {
  padding: 1.3rem 1rem;
}

.open-sidebar,
.close-sidebar {
  display: none;
  transform: scale(1.3);
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

nav {
  background: #fafafa;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  left: 0;
  top: 0;
  width: 100vw;
  height: 4.6875rem;
  transition: 0.4s;
  z-index: 9;
  display: flex;
  flex-direction: row-reverse;
  color: #353535;
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

nav label ion-icon {
  font-size: 2rem;
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: transparent;
  margin-right: auto;
}

nav .navbar .menu {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 2vw;
  overflow: hidden;
}

.logo {
  margin-right: auto;
  margin-left: 1rem;
}
.logo img {
  width: 30%;
}

nav ul label ion-icon {
  font-size: 1.5rem;
}

.navbar .menu li {
  list-style: none;
  margin: 0 0.9375rem;
}

.navbar .menu #current {
  color: #111b47;
  font-weight: 700;
  text-decoration-line: underline;
}
.navbar .menu li a {
  color: black;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.5s ease;
}

.navbar .menu li a:hover {
  color: #111b47;
  text-decoration-line: underline;
}

#contact {
  display: flex;
  padding: 0.625rem 2.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 0.625rem;
  background: #111b47;
  transition: all 0.5s ease;
}
#contact a {
  color: #fff !important;
}

#contact:hover {
  transform: scale(1.1);
}
#contact a:hover {
  color: #fff;
  text-decoration-line: none;
}
.button a {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  overflow: hidden;
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.6);
  background-color: black;
  border-radius: 0.3125rem;
  height: 1.4375rem;
  width: 1.4375rem;
}
