@media (max-width: 58.75rem) {
  nav .navbar .menu {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: -100%;
    z-index: 10;
    width: 12rem;
    background: #fafafa;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    transition: 0.75s ease-out;
  }

  .navbar .menu li {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 0.25rem 0rem;
  }

  #contact {
    width: 90%;
    padding: 0.625rem 2.125rem;
    margin-left: 0.125rem;
  }

  .open-sidebar,
  .close-sidebar {
    display: block;
  }

  #sidebar:checked ~ .navbar .menu {
    right: 0;
  }
}
